.formContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  height: 100%;
}

.formContainer * {
  font-family: sans-serif;
  font-weight: lighter;
}

.userField {
  height: 30px;
  width: 250px;
  text-indent: 15px;
}

.loginButton {
  display: flex;
  align-items: center;
  justify-content: center;

  color: white;
  background-color: red;
  font-size: 14px;
  margin-top: 20px;

  height: 30px;
  width: 250px;
}